<a href="https://colab.research.google.com/github/MHamza666/M-Hamza/blob/main/basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
val1=12
val2=13
print(val1+val2)

25

In [ ]:
val1=12
print(2*val1)

24

In [ ]:
print("my name is hamza")

my name is hamza

In [ ]:
a=3
b=4
c=4
x=a+b+c
print(x)

11

In [ ]:
print("i am hamza and this viewer also be good boy/girls")

i am hamza and this viewer also be good boy/girls

In [ ]:
# hey hamza , please dont remove line

In [ ]:
# multiple comment,three single code are use (''')
'''

i am good boy
i have specific skill
i want to professional developer
'''

'\ni am good boy \ni have specific skill\ni want to professional developer\n'

In [ ]:
# 2nd method for multiple comment ("""")
"""
i am good boy
i have specifice skill
i want to professional developer
"""

'\ni am good boy \ni have specifice skill\ni want to professional developer\n'

In [ ]:
# Author: hamza

In [ ]:
print("hello world!!!") # printing hello world

hello world!!!

In [ ]:
# this method are use for multiple sentence
print(" i am a\" good boy\"\nand this viewer is also good boys\girls")

 i am a" good boy"
and this viewer is also good boys\girls

In [ ]:
print("hey",5,6, sep="_", end="006")
print("hamza")

hey_5_6006hamza

In [ ]:
print("hey", 5,6, sep="_, ", end="006\n")
print("hamza")

hey_, 5_, 6006
hamza

In [ ]:
# create the calculator
"""
addition (+)
subtraction (-)
multiplication (*)
exponential (**)
division (/)
modulus(%)
floor division (//)
"""

In [5]:
# if
n= 5
m=15
ans1=n+m
print("addtion of",n,"and",m,"is",ans1)
ans2=n-m
print("subtraction of",n,"and",m,"is",ans2)
ans3=n*m
print("multiplication of",n,"and",m,"is",ans3)
ans4=n**m
print("exponential of",n,"and",m,"is",ans4)
ans5=n/m
print("division of",n,"and",m,"is",ans5)
ans6=n%m
print("modulus of",n,"and",m,"is",ans6)
ans7=n//m
print("floor division of",n,"and",m,"is",ans7)

addtion of 5 and 15 is 20
subtraction of 5 and 15 is -10
multiplication of 5 and 15 is 75
exponential of 5 and 15 is 30517578125
division of 5 and 15 is 0.3333333333333333
modulus of 5 and 15 is 5
floor division of 5 and 15 is 0

In [12]:
# variable and datatype

#varible is like a container that holds data.
#datatype specifics the type of value a varible hold.

In [14]:
# if
a=123
print(a)
# a have individual data
b="hamza"
print(b)
# b have .......

123
hamza

In [15]:
# if
a=123
a1=10
print(a+a1)

133

In [18]:
# if
a=123
b= 'true'
c="hamza"
d='none'
# and i want to know its type so i can do that in this manner i can write "the type of a is..."
print("the type of a is ", type(a))
print("the type of a is ", type(b))
print("the type of a is ", type(c))
print("the type of a is ", type(d))

the type of a is  <class 'int'>
the type of a is  <class 'str'>
the type of a is  <class 'str'>
the type of a is  <class 'str'>

In [19]:
#complex type
# if you write a= 8,2 then python give error
#if
a=complex(8,2)

In [3]:
list1=[2,4,5.3,[4,6]]
print(list1)
list2=["apple,banana"]
print(list2)

[2, 4, 5.3, [4, 6]]
['apple,banana']

In [ ]:
# what is u know  everything in python is a ' object'

In [ ]:
# type casting
# as we know
a=1
b=2
print(a+b)
"""
typ casting : the conversion of one data tpye into the other data type is know as type casting
python support a wide variety of function or method like: int(),floating(),str(),ord(),hex(),tuple(),set(),list() etc.for the type casting in python
type of type casting:
1: Explicit conversion
2:implicit.....
"""

In [7]:
a="1"
b="3"
print(a+b)

13

In [9]:
# convert into "integer"
# if
a="1"
b="3"
print(int(a)+int(b))

4

In [20]:
# explicit typecasting
string="18"
number=7
string_number=int(string)#throw an error if the string is not a valid integer
sum=number+string_number
print("the sum of both numbers is",sum)

the sum of both numbers is 25

In [22]:
#implicit typecasting
a=7
b=8.8
print(type(a+b))

<class 'float'>

In [23]:
a=8.8
b=7
print(float(a+b))

15.8

In [25]:
a=8.9
b=6
print(str(a+b))

14.9

In [27]:
#taking user input in python
a=input("")
print("my name is ",a)

hamza
my name is  hamza

In [28]:
a=input("enter your name: ")
print("my name is ",a)

enter your name: hamza
my name is  hamza

In [31]:
x=input("enter first number: ")
y=input("enter second number: ")
print(x+y)

enter first number: 12
enter second number: 100
12100

In [32]:
# if
x=input("enter first number: ")
y=input("enter second number:")
print(int(x)+int(y))

enter first number: 12
enter second number:100
112

In [39]:
# what is string?
#in python , anything that you enclose b/w single or double question marks is considered as string
#Example 1
name="hamza"
friend="roshan"
anotherfreind="imran"
print("hey",name)
#Example 2
#Apple="he said ,"i want to eat an apple" ( then python give error when you can excess)
apple='he said,/i want to eat an apple'
#Example 3
apple="he said , i want to to eat an apple"
print(apple)

hey hamza
he said , i want to to eat an apple

In [40]:
name="hamza"
print(name[0])

h

In [41]:
name="hamza"
print(name[0:4])

hamz

In [42]:
name="hamza"
print(name[0:5])

hamza

In [45]:
fruit="apple"
print("let use a for loop/n",name)

let use a for loop/n hamza

In [49]:
name="hamza"
print("character",name)

character hamza

In [50]:
#string slicing and operation on string
#Example
name="hamza,ali"
print(name[0:9])

hamza,ali

In [51]:
name="hamza,ali"
#if u want to know legth
print(len(name))

9

In [52]:
#example
fruit="mango"
len1=len(fruit)
print("mango is a",len1,"letter word")

mango is a 5 letter word

In [53]:
fruit="mango"
print(fruit[0:-3])

ma

In [54]:
fruit="mango"
print(fruit[-2:-1])

g