<a href="https://colab.research.google.com/github/MHamza666/M-Hamza/blob/main/function_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=9
b=8
gmean=(a+b)/(a*b)
print(gmean)

0.2361111111111111

In [7]:
c=8
d=7
gmean=(c+d)/(c*d)
print(gmean)

0.26785714285714285

In [8]:
a=9
b=8
gmean=(a+b)/(a*b)
print(gmean)

c=8
d=7
mean=(c+d)/(c*d)
print(mean)

0.2361111111111111
0.26785714285714285

In [12]:

a=9
b=8
gmean=(c+d)/(c*d)
print(gmean)
if(a>b):
  print("first number is greater")
else:
 print("second number is greater or equal")

0.26785714285714285
first number is greater

# function argument

In [2]:
def average(a=6,b=4):
  print("the average is:",(a+b)/2)
average(6,4)

the average is: 5.0

In [3]:
def average (a=6,b=4):
  print("the average is :",(a+b)/2)
average()

the average is : 5.0

In [4]:
#if
def average(a=9,b=1):
  print("the average is:",(a+b)/2)
average(5,1)

the average is: 3.0

In [7]:
def average(a=9,b=1):
  print("the average is:",(a+b)/2)
average(5)

the average is: 3.0

In [8]:
def average(a=9,b=1):
  print("the average is:",(a+b)/2)
average(b=5)

the average is: 7.0

In [12]:
def average(a=9,b=1):
  print("the average is:",(a+b)/2)
average(b=15,a=15)

the average is: 15.0

In [9]:
def name(fname,mname="hamza",lname="ali"):
  print("hello",fname,mname,lname)
name("zeshan")

hello zeshan hamza ali

In [10]:
def name(fname,mname,lname):
  print("hello",fname,mname,lname)
name("hamza","ali","ahmad")

hello hamza ali ahmad

# variable length argument:

In [15]:
def average(*numbers):
  print(type(numbers))
  sum=0
  for i in numbers:
    sum=sum+i
    print("average is:",sum/len(numbers))
average(5,6)

<class 'tuple'>
average is: 2.5
average is: 5.5

In [40]:
def average(*numbers):
  print(type(numbers))
  sum= 0
  for i in numbers:
    sum=sum+i
    print("Average is: ",sum / len(numbers))
average(6, 6)

<class 'tuple'>
Average is:  3.0
Average is:  6.0

In [31]:
def average(*numbers):
  print(type(numbers))
  sum=0
  for i in numbers:
    sum=sum+i
    print("average is:",sum/len(numbers))
average(5,6,7)

<class 'tuple'>
average is: 1.6666666666666667
average is: 3.6666666666666665
average is: 6.0

In [33]:
def average(*numbers):
  print(type(numbers))
  sum=0
  for i in numbers:
    sum=sum+i
    #print("average is:",sum/len(numbers))
    return sum/len(numbers)

c=average(5,6)
print(c)

<class 'tuple'>
2.5

In [25]:
def average(*number):
  print(type(number))
  sum=0
  for i in number:
    sum=sum+i
    #print("average is:",sum/len(numbers))
    return sum/len(number)

c=average(5,6,7)
print(c)

<class 'tuple'>
1.6666666666666667

In [20]:
def average(*numbers):
  print(type(numbers))
  sum=0
  for i in numbers:
    sum=sum+i
    #print("average is:",sum/len(numbers))
    return 4
    #return sum/len(numbers)

c=average(5,6,4,7)
print(c)

<class 'tuple'>
4