<a href="https://colab.research.google.com/github/MHamza666/M-Hamza/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

In [1]:
lstemp=[]
lst=['one','two','three','four']#list of string
lst2=[1,2,3,4]#list of integers
list3=[[1,2],[3,4]]#list of list
list4=[1,'ali',23,1,24]#list of different datatype
print(list4)

[1, 'ali', 23, 1, 24]

In [4]:
lstemp=[]
lst1=['one','two','three','four']#list of string
lst2=[1, 2, 3, 4]#list of integers
list3=[[1, 2],[3, 4]]#list of list
list4=[1,'ali',23,1,24]#list of different datatype
print(lst2)

[1, 2, 3, 4]

In [6]:
lstemp=[]
lst=['one','two','three','four']#list of string
lst2=[1,2,3,4]#list of integers
lst3=[[1,2],[3,4]]#list of list
lst4=[1,'ali',23,1,24]#list of different datatype
print(lst3)

[[1, 2], [3, 4]]

# index number

In [7]:
lstemp=[]
lst=['one','two','three','four']#list of string
lst2=[1,2,3,4]#list of integers
list3=[[1,2],[3,4]]#list of list
list4=[1,'ali',23,1,24]#list of different datatype
print(lst[1])

two

In [9]:
lstemp=[]
lst1=['one','two','three','four']#list of string
lst2=[1,2,3,4]#list of integers
list3=[[1,2],[3,4]]#list of list
list4=[1,'ali',23,1,24]#list of different datatype
print(lst1[3])

four

In [10]:
lstemp=[]
lst=['one','two','three','four']#list of string
lst2=[1,2,3,4]#list of integers
list3=[[1,2],[3,4]]#list of list
list4=[1,'ali',23,1,24]#list of different datatype
print(lst2[3])

4

# in loop

In [11]:
lstemp=[]
lst=['one','two','three','four']#list of string
lst2=[1,2,3,4]#list of integers
list3=[[1,2],[3,4]]#list of list
list4=[1,'ali',23,1,24]#list of different datatype
for ls in lst:
  print(ls)

one
two
three
four

In [12]:
lstemp=[]
lst=['one','two','three','four']#list of string
lst2=[1,2,3,4]#list of integers
list3=[[1,2],[3,4]]#list of list
list4=[1,'ali',23,1,24]#list of different datatype
for ls in lst2:
  print(ls)

1
2
3
4

# length

In [13]:
lstemp=[]
lst=['one','two','three','four']#list of string
lst2=[1,2,3,4]#list of integers
list3=[[1,2],[3,4]]#list of list
list4=[1,'ali',23,1,24]#list of different datatype
print(len(lst1))

4

In [14]:
lstemp=[]
lst=['one','two','three','four']#list of string
lst2=[1,2,3,4]#list of integers
list3=[[1,2],[3,4]]#list of list
list4=[1,'ali',23,1,24]#list of different datatype
print(len(lst4))

5

In [15]:
lstemp=[]
lst=['one','two','three','four']#list of string
lst2=[1,2,3,4]#list of integers
list3=[[1,2],[3,4]]#list of list
list4=[1,'ali',23,1,24]#list of different datatype
for ls in range (len(lst1)):
  print(ls)

0
1
2
3

In [16]:
lstemp=[]
lst=['one','two','three','four']#list of string
lst2=[1,2,3,4]#list of integers
list3=[[1,2],[3,4]]#list of list
list4=[1,'ali',23,1,24]#list of different datatype
for ls in range(len(lst4)):
  print(ls)

0
1
2
3
4

# define value

In [17]:
lstemp=[]
lst=['one','two','three','four']#list of string
lst2=[1,2,3,4]#list of integers
list3=[[1,2],[3,4]]#list of list
list4=[1,'ali',23,1,24]#list of different datatype
for ls in range (len(lst)):
  print(lst[ls])

one
two
three
four

# we know that list is mutable

In [18]:
lstemp=[]
lst=['one','two','three','four']#list of string
lst2=[1,2,3,4]#list of integers
list3=[[1,2],[3,4]]#list of list
list4=[1,'ali',23,1,24]#list of different datatype
lst2[1]=6
print(lst2)

[1, 6, 3, 4]

In [19]:
lstemp=[]
lst=['one','two','three','four']#list of string
lst2=[1,2,3,4]#list of integers
list3=[[1,2],[3,4]]#list of list
list4=[1,'ali',23,1,24]#list of different datatype
lst4[1]='hamza'
print(lst4)

[1, 'hamza', 23, 1, 24]

# list indexing and splitting

In [20]:
lstemp=[]
lst=['one','two','three','four']#list of string
lst2=[1,2,3,4]#list of integers
list3=[[1,2],[3,4]]#list of list
list4=[1,'ali',23,1,24]#list of different datatype
lst1[:]

['one', 'two', 'three', 'four']

In [21]:
lstemp=[]
lst=['one','two','three','four']#list of string
lst2=[1,2,3,4]#list of integers
list3=[[1,2],[3,4]]#list of list
list4=[1,'ali',23,1,24]#list of different datatype
lst1[0:3]

['one', 'two', 'three']

In [22]:
lstemp=[]
lst=['one','two','three','four']#list of string
lst2=[1,2,3,4]#list of integers
list3=[[1,2],[3,4]]#list of list
list4=[1,'ali',23,1,24]#list of different datatype
lst2[1:]

[2, 3, 4]

In [23]:
lst=[1,2,3,4,5,6,7]
lst[0:6]

[1, 2, 3, 4, 5, 6]

In [24]:
lst=[1,2,3,4,5,6,7]
lst[0:7]

[1, 2, 3, 4, 5, 6, 7]

In [25]:
lst=[1,2,3,4,5,6,7]
lst[0:6:2]

[1, 3, 5]