<a href="https://colab.research.google.com/github/MHamza666/M-Hamza/blob/main/list_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# list Apend

In [28]:
lst=[1,2,3,4,5,6]
lst.append(7) #append will add the item at the end
print(lst)

[1, 2, 3, 4, 5, 6, 7]

# insert list

In [29]:
lst=[1,2,4,5,]
lst.insert(2,3)# will add element y at location x
print(lst)

[1, 2, 3, 4, 5]

# remove list

In [30]:
lst=[1,2,3,4,5,6,7]
lst.remove(2)
print(lst)

[1, 3, 4, 5, 6, 7]

# list extend

In [ ]:
lst1=[1,2,3,4]
lst2=[5,6,7]
lst.extend(lst2)
print(lst)
# result [1,2,3,4,5,6,7]

# delete list

In [43]:
lst=['one','two','three','four']
del lst[1]
print(lst)

['one', 'three', 'four']

In [44]:
lst=['one','two','three','four']
lst.pop(1)
print(lst)

['one', 'three', 'four']

In [45]:
lst=['one','two','three','four']
del lst[1]
print(lst)
a=lst.pop(1)
print(lst)

['one', 'three', 'four']
['one', 'four']

In [47]:
lst=[1,2,3,4,5,6]
if 2 in lst:
  print('ai')
if 7 not in lst:
  print('mi')

ai
mi

## list reverse

In [48]:
lst=[1,2,3,4,5,6,7]
lst.reverse()
print(lst)

[7, 6, 5, 4, 3, 2, 1]

# list sorting

In [49]:
#create A list with number
numbers=[3,1,6,2,8]
sorted_lst=sorted(numbers)
print("sorted list:",sorted_lst)

sorted list: [1, 2, 3, 6, 8]

In [50]:
numbers=[3,1,6,2,8]
sorted_lst=sorted(numbers)
print("sorted list:",sorted_lst)
print("original list:",numbers)

sorted list: [1, 2, 3, 6, 8]
original list: [3, 1, 6, 2, 8]