<a href="https://colab.research.google.com/github/MHamza666/M-Hamza/blob/main/tuples_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuples

In [ ]:
#tuples are unchangeable
tup=(1,3,4,6,7)
print(type(tup),tup)

<class 'tuple'> (1, 3, 4, 6, 7)

In [ ]:
tup=(1,4,5,6,2,3)
print(tup[0])
print(tup[1])
print(tup[2])
print(tup[3])

1
4
5
6

In [ ]:
tup=(1,2,4,6,7,8,"green",True)
print(len(tup))

8

In [ ]:
tup=(1,2,4,6,7,8,"green",True)
print(tup[-1])

True

In [ ]:
tup=(1,2,4,6,7,8,"green",True)
if 8 in tup:
  print("yes 8 is present in tuple")

yes 8 is present in tuple

In [ ]:
tup=(1,2,4,6,7,8,"green",True)
if "green" in tup:
  print("yes green is  present in tuple")

yes green is  present in tuple

In [ ]:
tup=(1,2,4,6,7,8,"green",True)
print(tup[1:4:2])

(2, 6)

In [ ]:
tup=(1,2,4,6,7,8,"green",True)
print(tup[1:4])

(2, 4, 6)

# operation on tuple

In [ ]:
a=(1,2,3,4,5)
b=(6,7,8,9)
sum=a+b
print(sum)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
#count
tuple1=(1,2,3,4,1,5,6,1,7,8,1)
print(tuple1.count(1))

4

In [ ]:
tuple1=(1,2,3,4,1,5,6,1,7,8,1)
print(tuple1.index(1,3,7))

4

# tuple with mixed datatypes

In [ ]:
t=(1, (3,4),[3,'makki',8,'ali'])
print(t)

(1, (3, 4), [3, 'makki', 8, 'ali'])

In [ ]:
#index number
t=(1, (3,4),[3,'makki',8,'ali'])
print(t[1])

(3, 4)

In [ ]:
t=(1, (3,4),[3,'makki',8,'ali'])
print(t[2])

[3, 'makki', 8, 'ali']

In [ ]:
t=(1, (3,4),[3,'makki',8,'ali'])
print(t[2][1])

makki

In [ ]:
t=(1,2,4,6,7,8)
print(type(t))

<class 'tuple'>

In [ ]:
#negative index mean ==> start last
t=(1,2,4,5,6,7)
print(t[-1])

7

In [ ]:
tuple1=(1,2,3,4,5,6)
print(tuple1[:-2])

(1, 2, 3, 4)

In [ ]:
# we know that tuple cannot changeable
#for example
t=(1,2,3,4,[5,6,7])
t[4]='x'

TypeError: ignored

In [ ]:
t=(1,2,3,4,[5,6,7])
t[2]

3

In [ ]:
t=(1,2,3,4,[5,6,7])
t[4][1]

6

In [ ]:
t=(1,2,3,4,[5,6,7])
t[4][1]=9
t

(1, 2, 3, 4, [5, 9, 7])

# concatinating tuple

In [ ]:
t=(1,2,3)+(4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

# multiple element in tuple

In [ ]:
t=(('hamza',)*4)
print(t)

('hamza', 'hamza', 'hamza', 'hamza')

## delete tuple

In [ ]:
t=(1,2,3,4,5,6,7)
del t

# tuple sort

In [ ]:
t=(5,3,2,4,1)
a=sorted(t)
print(a)

[1, 2, 3, 4, 5]

# minimum/maximum value in tuple

In [ ]:
t=(1,2,3,5,7,8,9)
max(t)

9

In [ ]:
t=(1,2,3,4,7,6,8,9)
min(t)

1

In [ ]:

t=(1,22,45,67,89,3)
x=t
x

(1, 22, 45, 67, 89, 3)

In [ ]:
t=(1,22,45,67,89,3)
x=list(t)
x

[1, 22, 45, 67, 89, 3]

In [ ]:
t=(1,22,45,67,89,3)
x=list(t)
x[1]=11
x

[1, 11, 45, 67, 89, 3]

In [ ]:
t=(1,22,45,67,89,3)
x=list(t)
x[1]=11
print(x)
print(t)

[1, 11, 45, 67, 89, 3]
(1, 22, 45, 67, 89, 3)

In [ ]:
# convert in loop
t=(1,2,3,4,5)
for i in t:
  print(i)

1
2
3
4
5

In [ ]:
# indexing printing
t=(1,2,3,4,5,6)
for i in range(len(t)):
  print(i)

0
1
2
3
4
5

In [ ]:
t=(1,2,3,4,5,6) # in tuple converted
for i in range(len(t)):
  print(t[i])

1
2
3
4
5
6